{% extends 'ecom/admin_base.html' %}

{% block content %}
{% load widget_tweaks %}

<!------ update page for doctor by pratiksha ---------->
<div id="layoutSidenav_content">
  <main>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p>ADD HOSTEL</p>
      </div>
      <div class="form-content">
        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <label>Hostel Name</label>
              {% render_field HostelForm.name class="form-control" placeholder="Hostel Name" %}
            </div>
            <div class="form-group">
              <label>Address</label>
              {% render_field HostelForm.address class="form-control" placeholder="address" %}
            </div>
          </div>
          <div class="col-md-6">

            <div class="form-group">
              <label>Description</label>
              {% render_field HostelForm.description class="form-control" placeholder="description" %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Price</label>
              {% render_field HostelForm.price class="form-control" placeholder="Price" %}
            </div>
            <div class="form-group">
              <label>Location</label>
              {% render_field HostelForm.location class="form-control" placeholder="location" %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Rating Star</label>
              {% render_field HostelForm.rating class="form-control" placeholder="rating" %}
            </div>

          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Contact</label>
              {% render_field HostelForm.contact class="form-control" placeholder="Contact" %}
            </div>
            <div class="form-group">
              <label>Email</label>
              {% render_field HostelForm.email class="form-control" placeholder="Email" %}
            </div>
            <div class="form-group">
              <label>Num rating</label>
              {% render_field HostelForm.num_rating class="form-control" placeholder="num rating" %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Upload Hostel Front Image</label>
              {% render_field HostelForm.images class="form-control" %}
            </div>
            <div class="form-group">
              <label>Upload Hostel Kitchen Image</label>
              {% render_field HostelForm.images2 class="form-control" %}
            </div>
            <div class="form-group">
              <label>Upload Hostel Reading Space Image</label>
              {% render_field HostelForm.images3 class="form-control" %}
            </div>
            <div class="form-group">
              <label>Upload Hostel Front Image</label>
              {% render_field HostelForm.images4 class="form-control" %}
            </div>
           
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Wifi Choice:</label>
              {% render_field HostelForm.wifi_choice class="form-control" %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Canteen Choice:</label>
              {% render_field HostelForm.canteen_choice class="form-control" %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Parking Choice:</label>
              {% render_field HostelForm.parking_choice class="form-control" %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Hotwater Choice:</label>
              {% render_field HostelForm.hotwater_choice class="form-control" %}
            </div>
          </div>
          

        </div>
        <br><br>
        <button type="submit" class="btnSubmit">ADD</button>
        
      </div>
    </div>
  </div>
</form>
<br>
</main>

{% endblock content %}