<!DOCTYPE html>
{% extends 'ecom/admin_base.html' %}
{% load static %}
{% block content %}

<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <h1 class="mt-4">Hostels</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/admin-dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">Hostels</li>
      </ol>
      <div class="card mb-4">
        <div class="card-body">
          DataTables is a third party plugin that is used to generate the demo table below. For more information about
          DataTables, please visit the
          <a target="_blank" href="#">official DataTables documentation</a>
          .
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Hostel list
        </div>
        <div class="card-body">
          <table id="datatablesSimple">
            <thead>
              <tr>
                <th>Name</th>
                <th>Address</th>
                <!-- <th>Description</th> -->
                <th>Price</th>
                <th>Location</th>
                <th>Contact</th>
                <th>Email</th>
                <th>rating</th>
                <th>Canteen</th>
                <th>Hot water</th>
                <th>Wifi</th>
                <th>Parking</th>
                <th>Images</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Address</th>
                <!-- <th>Description</th> -->
                <th>Price</th>
                <th>Location</th>
                <th>Contact</th>
                <th>Email</th>
                <th>rating</th>
                <th>Canteen</th>
                <th>Hot water</th>
                <th>Wifi</th>
                <th>Parking</th>
                <th>Images</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
            </tfoot>
            <tbody>

              {% for h in Hostels %}
              {% if h %}

              <tr>
                <td> {{h.name}}</td>
                <td>{{h.address}}</td>
                <td>{{h.price}}</td>
                <td>{{h.location}}</td>
                <td>{{h.contact}}</td>
                <td>{{h.email}}</td>
                <td>{{h.rating}}</td>
                <td>{{h.canteen_choice}}</td>
                <td>{{h.hotwater_choice}}</td>
                <td>{{h.wifi_choice}}</td>
                <td>{{h.parking_choice}}</td>
                <td><a class="btn btn-primary" href="{% url 'hostel-images' h.id  %}"><span class=""></span></a>image
                </td>
                <td><a class="btn btn-primary btn-xs" href="{% url 'update-hostel' h.id  %}"><span
                      class="glyphicon glyphicon-edit"></span></a></td>
                <td><a class="btn btn-danger btn-xs" href="{% url 'delete-hostel' h.id  %}"><span
                      class="glyphicon glyphicon-trash"></span></a></td>

              </tr>
              {%else%}
              <br><br><br>
              <h1>no hostels</h1>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  <a href="/admin-add-hostel" class="float">
    <i class="fa fa-plus my-float"></i>Add hostel
  </a>
  {% endblock content %}
  