<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Hostel Kathmandu</title>


</head>

<body style="background-color: #7e5654">

  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}

  <center>
    <h3 style="height: 80px; margin-top: 45px;">Send Us Your Valuable Feedback !</h3>

    <form method="POST">
      <!-- Very Important csrf Token -->
      {% csrf_token %}
      <div class="form-group">
        <p>
        <h3>{{ form.as_p }}</h3>
        </p>
        <br>
        <input type="submit" value="Send Message" class="book-a-table-btn scrollto" style="background-color: #ffb03b;">
        <br><br>
      </div>
    </form>
  </center>
  {% include "ecom/footer.html" %}
</body>


</html>
