<!-- mysite -->
<!doctype html>
{% extends 'ecom/homebase.html' %}
{% load static %}
{% block content %}

<html lang="en">

<head>
  <style>
    .aboutus-head {
      height: 00px;
      text-align: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      color: white;
    }

    .aboutus-head::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);


      /* Change the alpha value (last parameter) to adjust the darkness */
    }
  </style>
</head>






<body>
  <div class="aboutus-head"
    style="height: 300px; text-align: center; background-image: url(/static/assets/img/breadcrump/contactus.jpg);background-size: cover; background-position: center; background-repeat: no-repeat;">
    <h2 style="padding-top: 130px; color: white; text-decoration: underline;"><b>/Contact Us</b></h2>
  </div>




  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2><span>Contact</span> Us</h2>
        <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque
          vitae
          autem.</p>
      </div>
    </div>



    <div class="container mt-5" style="margin-bottom: 300px;">

      <div class="info-wrap">
        <div class="row">
          <div class="col-lg-3 col-md-6 info">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>Basundhara<br>Kathmandu,535022</p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-clock"></i>
            <h4>Open Hours:</h4>
            <p>Monday-Saturday:<br>10:00 AM - 5:00 PM</p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>info@example.com<br>contact@example.com</p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+977 9860586664<br>+977 9860586664</p>
          </div>
        </div>
      </div>

      <form method="POST" class="form-control" style="margin-top: 60px;"> {% csrf_token %}

        <div class="row" style="margin-top: 20px;">
          <div class="col-md-6 form-group">
            {{form.Name}}

          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            {{form.Email}}
          </div>
        </div>
        <div class="form-group mt-3">
          {{form.Message}}
        </div>
        <div class="my-3">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">
              *
            </button>
            <strong>{{message}}</strong>
          </div>
          {% endfor %}
          {% endif %}


        </div>


        <div class="text-center"><button type="submit" class="book-a-table-btn scrollto" value="Send Message">Send
            Message</button></div>
      </form>

    </div>

  </section>


  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>



</body>

{% endblock content %}

</html>