<!DOCTYPE html>
<html>

<head>




  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Hostel</h3>
      <p>Hostel finder kathmandu.</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <p>Login for:</p>

      <a href="/adminclick" class="book-a-table-btn scrollto">System Admin</a>
      <a href="" class="book-a-table-btn scrollto">Hostel Admin</a>


      <div class="copyright"><br><br>
        &copy; Copyright <strong><span>Hostel Finder</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/Hostel-free-Kathmandu-bootstrap-theme/ -->
      </div>
    </div>
  </footer><!-- End Footer -->


</html>
